<!DOCTYPE html>
<html>
  <head>
    <title>TO-DO Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Style the solid box */
      .solid-box {
        background-color: #f0f0f0; /* Background color of the box */
        border: 1px solid #ccc;
        padding: 30px; /* Adjust padding to your preference */
        border-radius: 10px; /* Optional: Add rounded corners */
        text-align: center; /* Center the text within the box */
        width: 400px;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Align content at the top */
        align-items: center; /* Center content horizontally */
        margin: 0 auto; /* Center the box horizontally on the page */
        margin-top: 20px; /* Add some spacing at the top */
      }
    </style>
  </head>
  <body>
    <div class="solid-box">
      <div class="col-start-3 col-span-2 py-10">
        <h1 class="text-xl text-slate-600 font-semibold mb-4">To-Do Manager</h1>
        <p class="py-2">Welcome to the To-Do Manager</p>
        <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-up now</a></p>
        <p class="py-2">Already have an account? <a href="/login" class="text-green-600">Sign-in</a></p>
      </div>
    </div>
  </body>
</html>